.page1{
    background-color: #292E36;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    padding-top: 20px;
    .page1-container{
        margin: 0 auto;
        .title-pages{
            h1{
                font-size: 15px;
                border-bottom: #e1b168 1px solid;
                border-top: #e1b168 1px solid;
                width: fit-content;

            }
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
            p{
                font-size: 14px;
                margin-top: 5px;
            }
        }
        .comment-card{
            background-color: #343942;
            .comments-header{
                display: flex;
                align-items: center;
                border-bottom:#797E89 1px solid;
                h3{
                    font-size: 30px;
                    line-height: 42px;

                }
                h4{
                    font-size: 20px;
                    line-height: 30px;
                    color: #E1B168;

                }
                .user-avatar{
                    width: 80px;
                    height: auto;
                    border-radius: 50%;
                    margin-right: 15px;
                   
                }
                
            }
            .comments-body{
                padding-top: 10px;
                p{
                    font-size: 16px;
                    line-height: 24px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
            
        }
    }
}
.pagesBack{
margin-top: 10px;
 width: 100%;
 height: auto;
}
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
